name: renovate
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
jobs:
  renovate:
    name: renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: "${{ secrets.RENOVATE_APP_ID }}"
          private-key: "${{ secrets.RENOVATE_APP_PRIVATE_KEY }}"
      - uses: actions/checkout@v6
      - uses: renovatebot/github-action@v46.1.2
        with:
          token: "${{ steps.app-token.outputs.token }}"
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: 'debug'
